{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "adminQueueLine.html" import queueLine as queueLine with context%}
{% block title %}
Admin
{% endblock %}
{% block content %}
<div class="form-group col-xs-12">
    Hi, Admin
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Cleb</th>
                <th scope="col">User</th>
                <th scope="col">State</th>
                <th scope="col">Video</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
              {{queueLine (item)}}
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}