{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Python form
{% endblock %}
{% block content %}
<div class="form-group col-xs-12">
    Hi, Admin
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Cleb</th>
                <th scope="col">User</th>
                <th scope="col">Video</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}

            <tr>
                <td>
                    {{item.index}}
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    {{item.celeb}}
                </td>
                <td>
                    {{item.usr}}
                </td>
                <td>
                    {{item.vid}}
                    <video width="320" height="240" controls>
                        <source src={{ url_for('static', filename=item.vid) }} type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td>
                    <td>
                        <a href="{{ url_for('admin_part.deleteLine', ind = item.index ) }}" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span> Trash
                        </a>
                    </td>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}