{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Python form
{% endblock %}
{% block content %}
<div class="form-group col-xs-12">
    Hi, Admin
    <br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Cleb</th>
                <th scope="col">User</th>
                <th scope="col">Video</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}

            <tr>
                <td>
                    {{item.index}}
                </td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    {{item.celeb}}
                </td>
                <td>
                    {{item.usr}}
                </td>
                <td>
                    {{item.vid}}
                    <video width="320" height="240" controls>
                        <source src={{ url_for('static', filename=item.vid) }} type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </td>
                <td>
                    <form action="{{ url_for('admin_part.deleteLine', ind = item.index ) }}" method="post"
                        enctype="multipart/form-data">

                        <button type="submit" value="" class="btn btn-danger">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="white"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                            </svg>
                        </button>
                    </form>
                    <!-- <button type="button" class="btn btn-primary">click</button>  -->
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}