{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block titlem %}
<title> Python form </title>
{% endblock %}
{% block content %}
<div class="form-group col-xs-12">
	<br />
	<form action="{{ url_for('someForm') }}" method="post" enctype="multipart/form-data">
		{{ form.csrf_token }}
		<div class="form-group">
			<div class="form-group">

				{{ wtf.form_field(form.theceleb) }}
			</div>
		
			<div class="form-group ">
				<label class="font-weight-bold font-italic text-info"> Get Video fron URL </label>
				{{ wtf.form_field(form.theURL) }}
				<div class="col-xs-6">{{ wtf.form_field(form.theStartMin) }}
					{{ wtf.form_field(form.theStartSec) }}</div>
				<div class="col-xs-6"> 
					{{ wtf.form_field(form.theEndMin) }}{{ wtf.form_field(form.theEndSec) }}
				</div>
			</div>
			<br />

			<div class="custom-file form-group ">
				<label class="font-weight-bold font-italic text-info"> Upload file </label>
				<input type="file" name="theFile" label="theFile" class="custom-file-input" id="inputGroupFile01">
				{% for error in form.theFile.errors %}
				<small class="text-danger">{{ error }}</small>
				{% endfor %}
				</imput>
			</div>

			<div class="custom-file form-group ">
				{{wtf.form_field(form.theDesc)}}
			</div>
			<div class="custom-file form-group ">
				{{wtf.form_field(form.theTags)}}
			</div>
			<br />
			<input type="submit" value="Submit" class="btn btn-primary">
		</div>
	</form>
</div>
{% endblock %}